@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap");
@import "variable.css";
/* Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/*Screen*/
@import "screen/login.css";
@import "screen/friends.css";
body {
  font-family: "Ubuntu", sans-serif;
  color: #2e363e;
  height: 100vh;
  padding-top: 20px;
}
