@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap");
@import "variable.css";
/* Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/*Screen*/
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

body {
  font-family: "Ubuntu", sans-serif;
  color: #2e363e;
  height: 1000vh;
  padding-top: 20px;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
