.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.recommended-friends > span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.open-chat__title {
  font-weight: 700;
}
.open-chat__header span {
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 700;
  margin-bottom: 6px;
}
.open-post__hashtags {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 6px;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members > img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}
.open-post__status {
  font-size: 15px;
  font-weight: 700;
  color: #ffc5e8;
}
.open-post__photo {
  position: relative;
}
.open-post__photo > img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 14px;
}
.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: red;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
